# Port for the server to run on
PORT=3000

# MongoDB connection details
MONGODB_USER=your_username_here
MONGODB_PASSWORD=your_password_here
MONGODB_URL=your_mongodb_url_here
MONGODB_DB=your_database_name_here

